@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;800;900&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.8;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 800 !important;
}
a {
	text-decoration: none;
	transition: all 0.4s ease;
	font-weight: 800;
}
section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
}
img {
	width: 100%;
}
  /* BANNER SECTION CSS */ /* BANNER SECTION CSS */
/* BANNER SECTION CSS */     /* BANNER SECTION CSS */
  /* BANNER SECTION CSS */ /* BANNER SECTION CSS */
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(17, 7, 254, 0.6),rgba(0, 224, 254, 0.6));
    z-index: -1;
}
.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
	background: -webkit-linear-gradient( #00e0fe, #1107fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar {
	box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}
.hero-section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn {
	padding: 14px 22px;
	transition: all 0.3s ease;
}
.btn-main {
	background: linear-gradient(to right, #00e0fe, #1107fe);
	border-radius: 100px;
	border: none;
	font-weight: 600;
	color: #fff;
}
.btn-main:hover {
	color: #fff;
	transform: translateY(-5px);
	background: linear-gradient(to left, #00e0fe, #1107fe);
	
}
   /* SERVICE SECTION CSS */ /* SERVICE SECTION CSS */
/* SERVICE SECTION CSS */      /* SERVICE SECTION CSS */
  /* SERVICE SECTION CSS */ /* SERVICE SECTION CSS */

.section-intro {
	margin-bottom: 40px;
}
.divider {
	height: 4px;
	width: 70px;
	background: linear-gradient(to right, #00e0fe, #1107fe);
	margin: 16px auto;
}
.service .service-image {
	position: relative;
}
.service .service-image .icon {
	width: 90px;
	height: 90px;
	border-radius: 100px;
	color: #fff;
	background: linear-gradient(to right, #00e0fe, #1107fe);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: -45px;
	left: 50%;
	transform: translateX(-50px);
}
.service .service-image .icon i {
	font-size: 36px;
}
   /* ABOUT SECTION CSS */ /* ABOUT SECTION CSS */
/* ABOUT SECTION CSS */      /* ABOUT SECTION CSS */
  /* ABOUT SECTION CSS */ /* ABOUT SECTION CSS */
.play-btn {
	width: 70px;
	height: 70px;
	border-radius: 100%;
	color: #fff;
	background: linear-gradient(to right, #00e0fe, #1107fe);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	transition: all 0.3s ease;
}
.play-btn:hover {
	color: #fff;
	transform: translateY(-5px);
	background: linear-gradient(to left, #00e0fe, #1107fe);
}
   /* FEATURE SECTION CSS */ /* FEATURE SECTION CSS */
/* FEATURE SECTION CSS */      /* FEATURE SECTION CSS */
  /* FEATURE SECTION CSS */ /* FEATURE SECTION CSS */
.feature i {
	background: -webkit-linear-gradient( #00e0fe, #1107fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 44px;
}
   /* COUNTER SECTION CSS */ /* COUNTER SECTION CSS */
/* COUNTER SECTION CSS */      /* COUNTER SECTION CSS */
  /* COUNTER SECTION CSS */ /* COUNTER SECTION CSS */
.i-size i {
	font-size: 44px;
}
   /* TESTIMONIALS SECTION CSS */ /* TESTIMONIALS SECTION CSS */
/* TESTIMONIALS SECTION CSS */      /* TESTIMONIALS SECTION CSS */
  /* TESTIMONIALS SECTION CSS */ /* TESTIMONIALS SECTION CSS */
.review {
	box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
	padding: 30px;
}
.person {
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 18px;
}
.person img {
	width: 75px;
	height: 75px;
	border-radius: 100%;
}
.stars i {
	color: #ffca16;
	font-size: 25px;
}
   /* CONTACT SECTION CSS */ /* CONTACT SECTION CSS */
/* CONTACT SECTION CSS */      /* CONTACT SECTION CSS */
  /* CONTACT SECTION CSS */ /* CONTACT SECTION CSS */
form .form-control {
	color: white;
	border-radius: 0;
	background: transparent;
	border-color: rgba(255, 255, 255, 0.7);
}
form .form-control:focus {
	color: #fff;
	background: transparent;
	border-color: #fff;
}
form input.form-control {
	height: 54px;
}
form .form-control::placeholder{
	color: #fff;
}
   /* FOOTER SECTION CSS */ /* FOOTER SECTION CSS */
/* FOOTER SECTION CSS */      /* FOOTER SECTION CSS */
  /* FOOTER SECTION CSS */ /* FOOTER SECTION CSS */
footer {
	background:linear-gradient(to right, #00e0fe, #1107fe);
	color: #fff;
}
footer a {
	color: #fff;
}

	
